.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
    background: linear-gradient(to right, #ffffff, #ebebeb);;
}
  
  .form-wrapper {
    width: 400px;
    padding: 2rem;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    background-color: #fff;
  
    .form-title {
      text-align: center;
      margin-bottom: 2rem;
    }
  
    .form-item {
      margin-bottom: 2rem;
    }
  
    .ant-btn {
      width: 100%;
    }

    .login-link{
        text-align: center;
    }
  }
  