.companyContainer{

    padding: 2rem 8rem;


    .newCompanyTab{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
}



.searchArea {
     width: max-content;
     margin-right: 1rem;
}